@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

a {
  text-decoration: none;
}
.navbar a {
  text-decoration: none;
}

.footer a {
  text-decoration: none;
}
ul a {
  text-decoration: none;
}
.widget-categories .items-list ul li a {
  text-decoration: none !important;
}


.video-section:before {
    /* background-cojlor: #16181e; */
    opacity: 0.6;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}


